Posting



Creating

As a user, I want to post text about various topics, so that I can share what I find interesting
Posts should have titles and content
As a user, I want to include images in my posts, so that I can better express myself
Should be able to attach a single image
As a user, I want to be able to delete a post, so that I can remove things I don’t want people to see anymore
Post is permanently removed and not recoverable
As a user, I want to be able to hide a post, so that I can temporarily prevent others from viewing my posts
Ability to hide and show any posts the user has created
Posts are hidden from all others
Post are still visible to the creator and clearly indicate they are hidden
As a user, I want to limit who can see my posts, so that I feel comfortable posting personal information
Only friends should be able to see my posts
This user story is superseded up the Groups visibility story
As a user, I want to be able to change the visibility of a Post after creation
User can edit an existing post and change the visibility
Visibility changes can include changing groups its visible to or adding/removing global visibility
As a user, I want to be able to see a list of all my posts, so that I can easily see reactions and edit posts
Ability to view of list of post, ordered by time
Ability to see reactions for the posts 



Viewing

As a user, I want to view my friends posts, so I can see what they find interesting
An ordered list of posts
As a user, I want to be able to search posts, so that I can find specific content
Should be able to search by friend name or words in a post
As a user, I want to see the most relevant posts, so that I keep coming back to the site
Algorithm that determines the order of the feed should take into account at least group ranking, time of post, and reactions on post
Each post should clearly indicate why it is ordered where it is



Reactions

As a user, I want to react to posts, so that I can have a more interactive experience
Reactions should be ordinal, i.e. should be able to assign a value to them so that you can use them in ranking posts
As a user, I should be able to see reactions on the posts in my feed, so that I know what people think about a post
Reactions are global. Any user who can see the post can see all reaction associated with that post
As a user, I want to be able to retract my reactions, so that I can I can undo it if I accidentally react to something
 


Friends

As a user, I want to add friends, so they can see what interested me and I can see what interests them
Ability to request a user be added as a friend 
As a user, I want to be able to search the site to find people I know, so that I can add them as friends
Ability to search by first or last name or username
Searching should at a minimum do exact matching; optimally, it should do wildcard matching
As a user, I want to be able to see and approve friend requests, so that people who want to see my posts can
Ability to see a list of users who have requested to my friend
Ability to approve friend requests
As a user, I want to be able to reject friend request, so that I can ignore people I don’t like
Ability to reject friend requests
Rejection should be permanent 
As a user, I want to see a list of my friends, so that I can know how popular I am
Show a list of all friends who have accepted friend requests
As a user, I want to see a list of pending friend requests, so that I can know who is ignoring me
Should show friend requests that haven’t been responded to yet
As a user, I want to see a list of all past friend requests I’ve made
Show list of all friend requests I’ve ever made and their status, accepted, rejected, pending
As a user, I want to be able to remove existing friends, so that I can stop seeing posts from people I no longer like
Friend is removed
Either user can make a friend request again in the future



Groups

As a user, I want to create groups to put my friends in, so that I can control what people see in bulk
Groups should be named
As a user, I want to be able to add friends to my groups, so that I can limit visibility to my posts easily
As a user, I want to be able to remove friends from groups
The posts those friends can view should be updated accordingly 
As a user, I want to be able to delete groups
All posts using that group should be updated accordingly
As a user, I want to control who sees which posts using groups
Post visibility should be controlled using groups
When creating a post, user should be prompted to select which groups the post will be visible to
Selecting no groups means a post is not visible
As a user, I want some posts to be visible to all my friends
User should be able to select Global visibility when creating a post, which makes it visible to all of their friends
As a user, I want to rank my groups, so that I can see more relevant content first
User should be able to rank groups
Posts from higher ranked groups should be displayed before 



User Administration

As a non-user, I want to become a user of the site, so that I can I feel connected
Ability for anyone to request an account
Provide at least username, first name, last name, password
Account not activated until admin approval
As a user, I want to ensure no one else can log in to my account but me, so that no one can pretend to be me or view my personal posts
Password protected logins
Only need to login once to access any page on site
As a user, I want to be able to logout, so that no one can use my account once I am done using site
Session should be deleted
As an admin, I want to be able to control who gets access to the site, so that I can keep out people I don’t like
Approve or Reject New User Requests
Once users are rejected, they cannot reapply
As a admin, I want to be able to disable users, so that I can moderate people I don’t agree with
Ability to find and disable user accounts
Ability to enable user accounts
