body {
	background-image: url("assets/seamless.png");
    font-family: "Ubuntu";
    font-size: 20px;
}

.headerbox {
    font-size: 20px;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    left: 2rem;
    top: 0.55rem;
    width: 15%;
    height: 1.9rem;
    text-align: center;
    
}

.headerbox:hover {
    background: lightblue;
    cursor: pointer;
}

.testcube {
	background: red;
	height: 500px;
	width: 500px;
}

#content {
	left: 10rem;
	position: relative;
	top: 10rem;
}

#header {
	background-color: lightgray;
	border: 1px solid black;
	height: 4rem;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}